*{border:1px solid red}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "header header"
      "col-izq col-der"
      "footer footer";
  }
  
  .header { grid-area: header; }
  
  .footer { grid-area: footer; }
  
  .col-izq { grid-area: col-izq; }
  
  .col-der { grid-area: col-der; }
  